h1{
    font-size: 50px;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.orangered-color{
    color:orangered;
}
.flexible-container{
    display: flex;
    margin-bottom: 120px;
}
.half-width{
    width:50%;
    padding-left: 3%;
    padding-right: 3%;
}
.half-width img{
width: 85%;
}
.link-button{
    text-decoration: none;
    color: beige;
    background-image: linear-gradient(orangered,rgb(253, 16, 36) );
    padding: 10px 20px;
    border-radius:20px;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.news{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.box-shadow{
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    border-radius: 20px;
}
.majors{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#major1-border{
    border-left: 7px solid;
    border-image:linear-gradient(salmon,red);
    border-image-slice: 1;
}
#major2-border{
    border-left: 7px solid;
    border-image:linear-gradient(blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}